html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #28292e;
    color: #eee;
}

h1 {
    padding: 5px;
    margin: 5px 0 10px;
}

.border-bottom {
    border-bottom: #eee 2px solid;
}

h2 {
    padding: 5px;
    margin: 5px 0 10px;
}

h1.full-page {
    font-size: 25vh;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main.title {
    width: 100vw;
    height: 100vh
}

main.standard {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 24pt;
    position: relative;
}

main.standard h1 {
    position: sticky;
    width: 100%;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #28292e;
}

ul {
    margin: 0;
}

section.two-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}